body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(180deg, #080a0f 0%, #0d0f18 100%);
  color: white;
  min-height: 100vh;
}

.navbar{
  display:flex;
  width:50%;
  height:3.5rem;
  justify-content:center;
  align-items:center;
  margin: 0 auto;
  margin-top:3rem;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(30, 58, 138, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* color: white; */
  border-radius: 30px;
}

h1{
  font-family: 'Bricolage Grotesque', sans-serif;
  text-shadow: 0 0 20px rgba(30, 58, 138, 2.0);
}