body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(180deg, #080a0f 0%, #0d0f18 100%);
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
}

.navbar{
  display:flex;
  width:50%;
  height:3.5rem;
  justify-content:center;
  align-items:center;
  margin: 0 auto;
  margin-top:5rem;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(30, 58, 138, 3.0);
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* color: white; */
  border-radius: 30px;
}
.navbar::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #2563eb;
  border-radius: 50%;
  box-shadow: 0 0 8px #2563eb;
  animation: moveAround 8s linear infinite;
  z-index: 2;
}

.navbar::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #2563eb;
  border-radius: 50%;
  box-shadow: 0 0 8px #2563eb;
  animation: moveAround 8s linear infinite;
  animation-delay: 4s; /* half cycle delay */
  z-index: 2;
}

@keyframes moveAround {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 100%;
    transform: translateX(-100%);
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
  75% {
    top: 100%;
    left: 0;
    transform: translateY(-100%);
  }
  100% {
    top: 0;
    left: 0;
  }
}

h1{
  font-family: 'Bricolage Grotesque', sans-serif;
  text-shadow: 0 0 20px rgba(30, 58, 138, 3.0);
}
/* first page  */
.firstpage{
    /* position: absolute; */
  /* inset: 0; */
  background-image: 
    linear-gradient(to right, rgba(255,255,255,0.09) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255,255,255,0.09) 1px, transparent 1px);
  background-size: 60px 60px;
  pointer-events: none;
  mask-image: radial-gradient(circle at center, white 40%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle at center, white 40%, transparent 90%);
  display:flex;
  /* background-size: 40px 40px; */
  /* background-color: #0f172a; dark base */
  width:100%;
  margin: 100px auto;
  /* margin-top: 3rem; */
  height: 500px;
  border-radius:30px;
  justify-content:center;
  padding:60px 20px;
  /* z-index: 2; */
}

.textsection{
  display:flex;
  font-size:2rem;
  flex-direction:column;
  text-align:center;
  width:80%;
  margin-top:3rem;
}
.ocean-text {
  color: #38bdf8; /* ocean blue */
  /* text-shadow: 0 0 10px #38bdf8, 0 0 20px #38bdf8; */
}
p{
  color: 	#a1a1aa;
  text-shadow: 0 0 20px rgba(30, 58, 138, 3.0);
}

/* main section */
.container {
  /* display:flex; */
  flex-direction:column;
  width: 100px;
  height: 100rem;
  /* background: #38bdf8; */
  background: linear-gradient(180deg, #080a0f 0%, #0d0f18 100%);
  color: white;
  margin: 100px auto;
  animation: rotateAndExpand 2s ease forwards;
  transform-origin: center;
  box-shadow: 0 0 20px rgba(30, 58, 138, 3.0);
}

@keyframes rotateAndExpand {
  0% {
    transform: rotate(0deg);
    width: 100px;
  }
  50% {
    transform: rotate(90deg);
    width: 4px;
  }
  100% {
    transform: rotate(0deg);
    width: 90%;
  }
}
.search {
  display:flex;
  flex-direction:row;
  justify-content:center;
  /* align-items:center; */
  margin:0 auto;
  margin-top: 4rem;
  gap:20px;
}
.type{
  display:flex;
  width:30%;
  height:3rem;
  box-shadow: 0 0 20px rgba(30, 58, 138, 3.0);
  border-radius: 30px;
  /* margin: 0 auto; */
  justify-content:center;
  margin-top:2rem;

}
.button{
  display:flex;
  width:10%;
  height:3rem;
  background-color:green;
  box-shadow: 0 0 20px rgba(30, 58, 138, 3.0);
  border-radius: 30px;
  /* margin: 0 auto; */
  justify-content:center;
  margin-top:2rem;

}
.button button {
  color: white;
  background: transparent;
  border: none;
  font-size: 1rem;
}

.contentcontainer{
  position: relative;
  display:flex;
  height:5rem;
  width:60%;
  box-shadow:0 0 20px rgba(30, 58, 138, 3.0);
  margin-bottom:2rem;
  justify-content:center;
  margin:4rem auto;
}

.contentbutton{
  position:absolute;
  display:flex;
  width:20%;
  height:2rem;
  background-color:#6366f1;
  /* color:white; */
  box-shadow: 0 0 20px rgba(30, 58, 138, 3.0);
  border-radius: 30px;
  /* margin: 0 auto; */
  justify-content:center;
  /* margin-top:100%; */
  bottom:10px;
}
.contentbutton button{
  color: white;
  background: transparent;
  border: none;
  font-size: 1rem;
}